@import "mavericks/codeblock.dark.css";
@import "mavericks/sourcemode.dark.css";

:root {
    --bg-color: #172b32;
    --side-bar-bg-color: #121d21;
    --text-color: #dadada;

    --select-text-bg-color: rgba(129, 202, 228, 0.35);

    --item-hover-bg-color: #0b1114;
    --control-text-color: #b3b3b3;
    --control-text-hover-color: #dadada;
    --window-border: 1px solid #2a2a2a;

    --active-file-bg-color: #172b32;
    --active-file-border-color: #81cae4;

    --primary-color: #81cae4;

    --active-file-text-color: white;
    --item-hover-bg-color: #121d21;
    --item-hover-text-color: white;

    --rawblock-edit-panel-bd: #090f11;

    --search-select-bg-color: rgba(129, 202, 228, 0.4);
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

html,
body {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: var(--bg-color);
    fill: currentColor;
    line-height: 1.625rem;
}

#write {
    max-width: 914px;
}

@media only screen and (min-width: 1400px) {
    #write {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1800px) {
    #write {
        max-width: 1200px;
    }
}

html,
body,
button,
input,
select,
textarea,
div.code-tooltip-content {
    color: #dadada;
    border-color: transparent;
}

div.code-tooltip,
.md-hover-tip .md-arrow:after {
    background: #090f11;
}

.native-window #md-notification {
    border: 1px solid #363636;
}

.popover.bottom > .arrow:after {
    border-bottom-color: #090f11;
}

html,
body,
button,
input,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, 'Segoe UI Emoji', 'SF Pro', sans-serif;
}

hr {
    height: 2px;
    border: 0;
    margin: 24px 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lucida Grande", "Corbel", sans-serif;
    font-weight: normal;
    clear: both;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    color: #dadada;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-bottom: 1.5rem;
    letter-spacing: -1.5px;
    font-weight: bold;
    color: #81cae4;
}

h2 {
    font-size: 1.63rem;
    line-height: 1.875rem;
    margin-bottom: 1.5rem;
    letter-spacing: -1px;
    font-weight: bold;
    color: #81e2e4;
}

h3 {
    font-size: 1.17rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    letter-spacing: -1px;
    font-weight: bold;
}

h4 {
    font-size: 1.12rem;
    line-height: 1.375rem;
    margin-bottom: 1.5rem;
    color: #b3b3b3;
}

h5 {
    font-size: 0.97rem;
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

h6 {
    font-size: 0.93rem;
    line-height: 1rem;
    margin-bottom: 0.75rem;
    color: #999999;
}

@media (min-width: 980px) {
    h3.md-focus:before,
    h4.md-focus:before,
    h5.md-focus:before,
    h6.md-focus:before {
        color: #666666;
        border: 1px solid #555555;
        border-radius: 3px;
        position: absolute;
        left: -1.642857143rem;
        top: .357142857rem;
        float: left;
        font-size: 9px;
        padding-left: 2px;
        padding-right: 2px;
        vertical-align: bottom;
        font-weight: normal;
        line-height: normal;
    }

    h3.md-focus:before {
        content: 'h3';
    }

    h4.md-focus:before {
        content: 'h4';
    }

    h5.md-focus:before {
        content: 'h5';
        top: 0px;
    }

    h6.md-focus:before {
        content: 'h6';
        top: 0px;
    }
}

a {
    text-decoration: none;
    outline: 0;
}

a:hover {
    outline: 0;
}

a:focus {
    outline: thin dotted;
}

sup.md-footnote {
    background-color: #2a2a2a;
    color: #81cae4;
}

p {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

p,
ul,
dd,
ol,
hr,
address,
pre,
table,
iframe,
.wp-caption,
.wp-audio-shortcode,
.wp-video-shortcode {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

audio:not([controls]) {
    display: none;
}

[hidden] {
    display: none;
}

::-moz-selection {
    background: rgba(129, 202, 228, 0.35);
    color: #fff;
    text-shadow: none;
}

*.in-text-selection,
::selection {
    background: rgba(129, 202, 228, 0.35);
    color: #fff;
    text-shadow: none;
}

ul,
ol {
    padding: 0 0 0 1.875rem;
}

ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin: 0;
}

b,
th,
dt,
strong {
    font-weight: bold;
}

i,
em,
dfn,
cite {
    font-style: italic;
}

blockquote {
    padding-left: 30px;
    margin: 0 0 1.875rem 1.875rem;
    border-left: solid 2px #81cae4;
    margin-top: 35px;
}

pre,
code,
kbd,
tt,
var {
    font-size: 0.875em;
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

code,
tt,
var {
    background: rgba(0, 0, 0, 0.25);
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #dadada;
    background-color: #121d21;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
}

pre.md-fences {
    padding: 10px 10px 10px 30px;
    margin-bottom: 20px;
    background: #0b1114;
}

.CodeMirror-gutters {
    background: #0b1114;
    border-right: 1px solid transparent;
}

.enable-diagrams pre.md-fences[lang="sequence"] .code-tooltip,
.enable-diagrams pre.md-fences[lang="flow"] .code-tooltip,
.enable-diagrams pre.md-fences[lang="mermaid"] .code-tooltip {
    bottom: -2.2em;
    right: 4px;
}

code,
kbd,
tt,
var {
    padding: 2px 5px;
}

table {
    max-width: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 5px 10px;
    vertical-align: top;
}

a {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

hr {
    background: #2a2a2a;
}

h1 {
    margin-top: 2em;
}

a {
    color: #81cae4;
    text-decoration: underline;
}

a:hover {
    color: #81e2e4;
}

.md-inline-math script {
    color: #81cae4;
}

b,
th,
dt,
strong {
    color: #dadada;
}

mark {
    background: #e4cd81;
    color: #090f11;
}

blockquote {
    color: #999999;
}

table a {
    color: #81cae4;
}

th,
td {
    border: solid 1px #2a2a2a;
}

.task-list {
    padding-left: 0;
}

.md-task-list-item {
    padding-left: 1.25rem;
}

.md-task-list-item > input {
    top: auto;
}

.md-task-list-item > input:before {
    content: "";
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #666666;
    background-color: #172b32;
    margin-top: -0.4rem;
}

.md-task-list-item > input:checked:before,
.md-task-list-item > input[checked]:before {
    content: '\221A';
    font-size: 0.625rem;
    line-height: 0.625rem;
    color: #a8e396;
}

/** quick open **/
.auto-suggest-container {
    border: 0px;
    background-color: #121d21;
}

#typora-quick-open {
    background-color: #121d21;
}

#typora-quick-open input {
    background-color: #121d21;
    border: 0;
    border-bottom: 1px solid #363636;
}

.typora-quick-open-item {
    background-color: inherit;
    color: inherit;
}

.typora-quick-open-item.active,
.typora-quick-open-item:hover {
    background-color: rgba(129, 202, 228, 0.25);
    color: white;
}

.typora-quick-open-item:hover {
    background-color: rgba(129, 202, 228, 0.18);
}

.typora-search-spinner > div {
    background-color: #81cae4;
}

#write pre.md-meta-block {
    border-bottom: 1px dashed #363636;
    background: transparent;
    padding-bottom: 0.6em;
    line-height: 1.6em;
}

.btn,
.btn .btn-default {
    background: transparent;
    color: #dadada;
}

.ty-table-edit {
    border-top: 1px solid #363636;
    background-color: #172b32;
}

.popover-title {
    background: transparent;
}

.md-image > .md-meta {
    color: #999999;
    background: transparent;
}

.md-expand.md-image > .md-meta {
    color: #b3b3b3;
}

#write > h3:before,
#write > h4:before,
#write > h5:before,
#write > h6:before {
    border: none;
    border-radius: 0px;
    color: #666666;
    text-decoration: underline;
    left: -1.4rem;
    top: 0.2rem;
}

#write > h3.md-focus:before {
    top: 2px;
}

#write > h4.md-focus:before {
    top: 2px;
}

.md-toc-item {
    color: #81cae4;
}

#write div.md-toc-tooltip {
    background-color: #172b32;
}

.dropdown-menu .btn:hover,
.dropdown-menu .btn:focus,
.md-toc .btn:hover,
.md-toc .btn:focus {
    color: white;
    background: #090f11;
}

#toc-dropmenu {
    background: rgba(9, 15, 17, 0.93);
    border: 1px solid rgba(253, 253, 253, 0.1);
}

#toc-dropmenu .divider {
    background-color: #363636;
}

.outline-expander:before {
    top: 2px;
}

#typora-sidebar {
    box-shadow: none;
    border-right: none;
}

.sidebar-tabs {
    border-bottom: 0;
}

#typora-sidebar:hover .outline-title-wrapper {
    border-left: 1px dashed;
}

.outline-title-wrapper .btn {
    color: inherit;
}

.outline-item:hover {
    border-color: #172b32;
    background-color: #172b32;
    color: white;
}

h1.md-focus .md-attr,
h2.md-focus .md-attr,
h3.md-focus .md-attr,
h4.md-focus .md-attr,
h5.md-focus .md-attr,
h6.md-focus .md-attr,
.md-header-span .md-attr {
    color: #666666;
    display: inline;
}

.md-comment {
    color: #81cae4;
    opacity: 0.8;
}

.md-inline-math svg {
    color: #dadada;
}

#math-inline-preview .md-arrow:after {
    background: #090f11;
}

.modal-content {
    background: var(--bg-color);
    border: 0;
}

.modal-title {
    font-size: 1.5em;
}

.modal-content input {
    background-color: rgba(9, 15, 17, 0.51);
    color: white;
}

.modal-content .input-group-addon {
    color: white;
}

.modal-backdrop {
    background-color: rgba(9, 15, 17, 0.85);
}

.modal-content .btn-primary {
    border-color: var(--primary-color);
}

.md-table-resize-popover {
    background-color: #121d21;
}

.form-inline .input-group .input-group-addon {
    color: white;
}

#md-searchpanel {
    border-bottom: 1px dashed #363636;
}

/** UI for electron */

.context-menu,
#spell-check-panel,
#footer-word-count-info {
    background-color: #121d21;
}

.context-menu.dropdown-menu .divider,
.dropdown-menu .divider {
    background-color: #363636;
    opacity: 1;
}

footer {
    color: inherit;
}

@media (max-width: 1000px) {
    footer {
        border-top: none;
    }
    footer:hover {
        color: inherit;
    }
}

#file-info-file-path .file-info-field-value:hover {
    background-color: #2a2a2a;
    color: #dadada;
}

.megamenu-content,
.megamenu-opened header {
    background: var(--bg-color);
}

.megamenu-menu-panel h2,
.megamenu-menu-panel h1,
.long-btn {
    color: inherit;
}

.megamenu-menu-panel input[type='text'] {
    background: inherit;
    border: 0;
    border-bottom: 1px solid;
}

#recent-file-panel-action-btn {
    background: inherit;
    border: 1px #363636 solid;
}

.megamenu-menu-panel .dropdown-menu > li > a {
    color: inherit;
    background-color: #0b1114;
    text-decoration: none;
}

.megamenu-menu-panel table td:nth-child(1) {
    color: inherit;
    font-weight: bold;
}

.megamenu-menu-panel tbody tr:hover td:nth-child(1) {
    color: white;
}

.modal-footer .btn-default,
.modal-footer .btn-primary,
.modal-footer .btn-default:not(:hover) {
    border: 1px solid;
    border-color: transparent;
}

.btn-primary {
    color: white;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: white;
    border: 1px solid #555555;
    background-color: inherit;
}

.modal-header {
    border-bottom: 0;
}

.modal-footer {
    border-top: 0;
}

#recent-file-panel tbody tr:nth-child(2n-1) {
    background-color: transparent !important;
}

.megamenu-menu-panel tbody tr:hover td:nth-child(2) {
    color: inherit;
}

.megamenu-menu-panel .btn {
    border: 1px solid #555555;
    background: transparent;
}

.mouse-hover .toolbar-icon.btn:hover,
#w-full.mouse-hover,
#w-pin.mouse-hover {
    background-color: inherit;
}

.typora-node::-webkit-scrollbar {
    width: 5px;
}

.typora-node::-webkit-scrollbar-thumb:vertical {
    background: rgba(129, 202, 228, 0.25);
}

.typora-node::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(129, 202, 228, 0.45);
}

#w-unpin {
    background-color: #81cae4;
}

#top-titlebar,
#top-titlebar * {
    color: var(--item-hover-text-color);
}

.typora-sourceview-on #toggle-sourceview-btn,
#footer-word-count:hover,
.ty-show-word-count #footer-word-count {
    background: #0b1114;
}

#toggle-sourceview-btn:hover {
    color: #dadada;
    background: #0b1114;
}

/** focus mode */
.on-focus-mode .md-end-block:not(.md-focus):not(.md-focus-container) * {
    color: #555555 !important;
}

.on-focus-mode .md-end-block:not(.md-focus) img,
.on-focus-mode .md-task-list-item:not(.md-focus-container) > input {
    opacity: #555555 !important;
}

.on-focus-mode li[cid]:not(.md-focus-container) {
    color: #555555;
}

.on-focus-mode .md-fences.md-focus .CodeMirror-code > *:not(.CodeMirror-activeline) *,
.on-focus-mode .CodeMirror.cm-s-inner:not(.CodeMirror-focused) * {
    color: #555555 !important;
}

.on-focus-mode .md-focus,
.on-focus-mode .md-focus-container {
    color: #dadada;
}

.on-focus-mode #typora-source .CodeMirror-code > *:not(.CodeMirror-activeline) * {
    color: #555555 !important;
}

/* diagrams */
#write .md-focus .md-diagram-panel {
    border: 1px solid #363636;
    margin-left: -1px;
    width: calc(100% + 2px);
}

#write .md-focus.md-fences-with-lineno .md-diagram-panel {
    margin-left: auto;
}

.md-diagram-panel-error {
    color: #e48281;
}

.active-tab-files #info-panel-tab-file,
.active-tab-files #info-panel-tab-file:hover,
.active-tab-outline #info-panel-tab-outline,
.active-tab-outline #info-panel-tab-outline:hover {
    color: #dadada;
}

.sidebar-footer-item:hover,
.footer-item:hover {
    background: inherit;
    color: white;
}

.ty-side-sort-btn.active,
.ty-side-sort-btn:hover,
.selected-folder-menu-item a:after {
    color: white;
}

#sidebar-files-menu {
    border: solid 1px #363636;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.79);
    background-color: var(--bg-color);
}

.file-list-item {
    border-bottom: none;
}

.file-list-item-summary {
    opacity: 1;
}

.file-list-item.active:first-child {
    border-top: none;
}

.file-node-background {
    height: 32px;
}

.file-library-node.active > .file-node-content,
.file-list-item.active {
    color: white;
    color: var(--active-file-text-color);
}

.file-library-node.active > .file-node-background {
    background-color: var(--active-file-bg-color);
}

.file-list-item.active {
    background-color: var(--active-file-bg-color);
}

#ty-tooltip {
    background-color: #090f11;
    color: #dadada;
}

.md-task-list-item > input {
    margin-left: -1.3em;
    margin-top: 0.3rem;
    -webkit-appearance: none;
}

.md-mathjax-midline {
    background-color: #172b32;
    border-bottom: none;
}

footer.ty-footer {
    border-color: #363636;
}

.ty-preferences .btn-default {
    background: transparent;
}

.ty-preferences .btn-default:hover {
    background: #121d21;
}

.ty-preferences select {
    border: 1px solid #555555;
    height: 21px;
}

.ty-preferences .nav-group-item.active,
.export-item.active,
.export-items-list-control,
.export-detail {
    background: var(--item-hover-bg-color);
}

.ty-preferences input[type="search"] {
    border-color: #0b1114;
    background: #0b1114;
    line-height: 22px;
    border-radius: 6px;
    color: white;
}

.ty-preferences input[type="search"]:focus {
    box-shadow: none;
}

[data-is-directory="true"] .file-node-content {
    margin-bottom: 0;
}

.file-node-title {
    line-height: 22px;
}

.html-for-mac .file-node-open-state,
.html-for-mac .file-node-icon {
    line-height: 26px;
}

::-webkit-scrollbar-thumb {
    background: rgba(129, 202, 228, 0.2);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(129, 202, 228, 0.4);
}

#typora-sidebar:hover div.sidebar-content-content::-webkit-scrollbar-thumb:horizontal {
    background: rgba(129, 202, 228, 0.2);
}

.nav-group-item:active {
    background-color: #121d21 !important;
}

.md-search-hit {
    background: rgba(228, 205, 129, 0.5);
    color: #dadada;
}

.md-search-hit * {
    color: #dadada;
}

#md-searchpanel input {
    color: white;
}

.modal-backdrop.in {
    opacity: 1;
    backdrop-filter: blur(1px);
}

.clear-btn-icon {
    top: 8px;
}

.file-node-expanded > .file-node-children {
    display: grid;
}

.md-alert-text-note {
    color: #81cae4;
}

.md-alert-text-important {
    color: #ab96e3;
}

.md-alert-text-warning {
    color: #e4cd81;
}
